@import 'src/assets/styles/variables';

.basket {
  .basket__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.basket__list {
  border-radius: 24px;
  background-color: #e5e2e140;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 10px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.basket__wrapper-button {
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-width: 768px;
  }
}

.basket__button {
  border-radius: 20px;
  width: 100%;
  padding: 12px 10px;
}

.basket__item {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-evenly;

  &:not(:last-child) {
    margin-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $bg-basic-orange;
    }
  }
}

.basket__wrapper {
  position: relative;
  text-align: center;


  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
  
}

.basket__image {
  width: 32%;
  object-fit: cover;
  height: 93px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 200px;
  }
}

.basket__subtitle {
  margin: 0;
  margin-bottom: 30px;
  width: 127px;
}

.basket__price {
  display: block;
  font-size: 20px;
}

.basket__dustbin {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  bottom: 5px;
  right: 4px;

  &:hover {
    fill: $bg-basic-orange;
  }

  @media (min-width: $tablet-width) {
    bottom: 98px;
    right: -7px;
  }   
  @media (min-width: $desktop-width) {
    top: 25px;
    right: 43px;
  }   
}

.basket__empty {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }
}

.basket__toggle {
  position: absolute;
  top: 37px;
  left: -5px;
  display:inline-block;
  width: 25px;
  height: 19px;
  cursor: pointer;

  &:before,
  &:after {
    transition: all .3s ease-in-out;
    border-radius: 4px;
    content: "";
    position: absolute;
    z-index: 1;
    width: 1rem;
    height: 1.2rem;
    background: transparent;
    border: 2px solid $bg-basic-orange; 
  }
  &:after {
    z-index: 0;
    border: none;
  }

  @media (min-width: $tablet-width) {
    top: 76px;
    left: 28px;

    &:before,
    &:after {
      width: 2rem;
      height: 2rem;
    }
  }

  @media (min-width: $desktop-width) {
    left: 13px;
  }
}

.basket__checked {
  &:before {
    animation: pop .3s ease;
    z-index: 100;
    background: $bg-basic-orange;
  } 
}

@keyframes pop {
  0% { opacity:0; }
  75% {opacity:1; }
  100% { transform: scale(1.2); }
}

