@import 'src/assets/styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
}

body {
  margin: 0;
}

.page {
  height: 100%;
}

.page__body {
  height: 100%;
  min-width: 320px;
  font-family: $lato-font;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.title {
  color: $black-color;
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1280px;
    padding: 0 30px;
  }
}

.map-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $white-color;
}

.map-contacts__text {
  color: $ligher-black-color;
  font-family: $oswald-font;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;


  @media (min-width: $tablet-width) {
    width: 160px;
    font-size: 20px;
    line-height: 26px;
  }
}

.map-contacts__info {
  line-height: 20px;
  width: 140px;
  justify-self: flex-end;

  @media (min-width: $tablet-width) {
    width: 160px;
  }
}

.map-contacts__address {
  font-style: normal;

  @media (min-width: $tablet-width) {
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.food {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    gap: 7px 0;
  }

  @media (min-width: $tablet-width) {
    gap: 6px 0;
  }
}

.food__term {
  padding: 0;
  margin: 0;
  float: left;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey-2;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

.food__definition {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: end;
  font-style: italic;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey-2;
  }
}

.subtitle {
  color: $dark-grey-color;
  font-family: $oswald-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.logo {
  cursor: pointer;
}

.control-input {
  opacity: 0;
}

.form-title {
  color: $black-color;
  font-family: $oswald-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: $white-color;
  display: inline-block;
  padding-right: 20px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 15px;
    left: 21px;
    width: 99%;
    height: 2px;
    background-color: $bg-basic-orange;
    z-index: -2;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 41px 0 40px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    margin-left: -40px;

    &::before {
      top: 21px;
      left: -32px;
      width: 108%;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: -108px;
      width: 117%;
    }
  }
}

.label {
  font-family: $oswald-font;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}


